<div class="flex flex-col md:flex-row gap-x-3">
   <div class="flex-1">
      <p class="text-pretty mb-5 text-gray-200 dark:text-gray-900">
         Me llamo <span class="text-yellow-300">Valentin Mirarchi</span>, Empece
         en la programacion en el año 2022 en la Universidad de la
         Matanza(UNLAM), gracias a esta y diversos cursos en internet me
         forjaron a ser <span class="text-yellow-300">Desarrollador Web</span>
      </p>
      <p class="text-pretty mb-5 text-gray-200 dark:text-gray-900">
         Mi objetivo es lograr un crecimiento y desarrollo profesional, dentro
         de un clima laboral <span class="text-yellow-300"
            >agradable, motivador, responsable y respetuoso</span
         > ; donde exista confianza mutua y una comunicación activa. Brindándome
         así posibilidades de ascenso y progreso, tanto humanas como profesionales.
      </p>
   </div>
   <div class="flex-1">
      <img
         class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
         src="src/components/img/fotoperfil.png"
         alt=""
      />
   </div>
</div>
